@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.Slidercontainer {
    width: 30vw;
    margin: 1rem auto;
    height: 21rem;
}

.slide img {
    margin: 0 auto;
    width: 15rem;
    height: 14rem;
    z-index: -1;
}

.slide {
    transform: scale(0.5);
    transition: all 800ms;
    opacity: 0.5;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: .5rem;
    width: 25rem;
    height: 20rem;
}

.activeSlide {
    transform: scale(1);
    opacity: 1;
    width: 30rem;
    width: 25rem;
}

.activeSlide img {
    width: 27rem;
    height: 19rem;
    border-radius: 12px;

}

.arrow {
    color: aquamarine;
    cursor: pointer;
    z-index: 10;
    font-size: 26px;
}

.next {
    right: -2rem;
    top: 50%;
    position: absolute;
}

.prev {
    left: -2rem;
    top: 50%;
    position: absolute;
}

@media screen and (max-width: 950px) {
    .Slidercontainer {
        width: 60vw;
    }
}

@media screen and (max-width: 650px) {
    .Slidercontainer {
        width: 90vw;
        height: fit-content;
        height: 305px;
    }

    .slide {
        width: 20vw;
        height: 200px;
    }

    .activeSlide {
        width: 100vw;
        height: 300px;
    }

    .slide img {
        width: 100%;
        height: 100%;
    }

    .activeSlide img {
        width: 100vw;
        height: 300px;
    }

    .next {
        right: 0%;
    }

    .prev {
        left: 0%;
    }
}


@media screen and (max-width: 340px) {
    .Slidercontainer {
        width: 95vw;
    }
}