.EventMenu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1rem;
  font-family: designer;
}

.EventCard {
  position: relative;
  overflow: hidden;
  width: 200px;
  margin-bottom: 1rem;
  transition: all ease-in-out .3s;
  /* border-radius: 2rem; */
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}

.EventCardBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.EventCard h3 {
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 6;
  width: 100%;
  padding-left: 1rem;
  font-size: 20px;
  background-color: rgba(31, 29, 29, 0.799);
}

.EventCard:hover {
  scale: 1.2;
  margin-left: 1.2rem;
}

@media screen and (max-width: 650px) {
  .EventMenu {
    display: none;
  }
}