.acco_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.acco_wrapper h1 {
    font-size: 42px;
    font-family: Mokoto;
    color: aqua;
}

.ReachingFaq {
    width: 100%;
    height: 400px;
    backdrop-filter: blur(0px) saturate(150%);
    -webkit-backdrop-filter: blur(0px) saturate(150%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: .5rem;
    overflow-y: scroll;
    text-align: left;
}

.map {
    margin-top: 2rem;
    margin-left: 0em;
    margin-bottom: 2rem;
    border-radius: 12px;
    overflow: hidden;
}

.headings {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: fixed;
}

.headings button {
    font-size: 24px;
    font-family: bankGothlic;

}

.Reaching {
    margin-top: 3rem;
}

.headings {
    margin-left: 1rem;
}


.activeDiv {
    border-bottom: 2px solid aqua;
    color: aqua;
}

.Reaching p,
.Faq p {
    transition: all ease-in-out 500ms;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: .5rem;
}

.questionAnswer button {
    font-size: 20px;
}

.answerViewed p {
    font-size: 16px;
}

@media screen and (max-width:650px) {
    .acco_wrapper h1 {
        font-size: 28px;
    }

    .ReachingFaq {
        width: 95vw;
    }
}