.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0rem;
}



.page1,
.page2 {
  transition: opacity 1s ease-in-out;
}

.headTitle {
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50px;

}

.Events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}



@media only screen and (max-width: 600px) {
  .Events {
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
  }

  .Container {
    gap: 1rem;
    margin-top: 5rem;
  }

}

@media screen and (max-width: 920px) {
  .body {
    overflow: hidden;
  }

  .Events {
    gap: 0.5rem;
  }
}