.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}


.page1,
.page2 {
  transition: opacity 1s ease-in-out;
}

.headTitle {
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50px;

}

.Events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.countdown-container {
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border-radius: 8px;
}

.countdown-container h1 {
  font-family: bankGothlic;
  font-size: 24px;
  font-weight: bold;
}

.timer-container {
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
}

.timer-card {
  padding-right: 5px;
  height: 70px;
  text-align: center;
  border-right: 2px solid white;
}

.timer-card:nth-child(4) {
  border: none;
}

.timer-number {
  font-size: 4rem;
  font-family: bankGothlic;
}

.timer-label {
  font-size: 1rem;
  font-family: mokoto;
  color: rgb(9, 207, 233);

}

.bellwrapper {
  position: fixed;
  top: 5rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.744);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
  font-size: larger;
  font-family: bankGothlic;
  border-radius: 10px;
}



@media only screen and (max-width: 600px) {
  .Events {
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .Container {
    gap: 1rem;
    margin-top: 3.5rem;
  }

  .countdown-container {
    width: 100%;
    display: grid;
  }

  .countdown-container h1 {
    font-size: 20px;
  }

  .timer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    place-items: center;
  }

  .timer-card {
    width: 80px;
    margin: 2px;
    border: none;
  }

  .timer-number {
    font-size: 2.5rem;

  }

  .timer-label {
    font-size: .75rem;
  }

  .bellwrapper {
    right: .5rem;
    font-size: 14px;
  }

  .bellwrapper svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 920px) {
  .body {
    overflow: hidden;
  }

  .Events {
    gap: 0.5rem;
  }
}