.card-container {
  width: 320px;
  height: 215px;
}

.Card {
  font-family: Roboto;
  width: 318px;
  height: 213px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  isolation: isolate;
  clip-path: polygon(50% 0%, 100% 0, 100% 74%, 78% 100%, 0 100%, 0% 60%, 0 0);
  color: white;
  margin-bottom: 2rem;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 1s ease;
  cursor: pointer;

}

.before-element {
  inset: 2px;
  position: absolute;
  z-index: -1;
  clip-path: polygon(50% 0%, 100% 0, 100% 74%, 78% 100%, 0 100%, 0% 60%, 0 0);
}

.before-element img {
  width: 317px;
  height: 213px;
  transition: all ease-in-out 1s;

}

.headDesc h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38.46px;
  letter-spacing: 4%;
  padding: 1rem 0 1rem 0;

}

.headDesc {
  position: absolute;
  bottom: 2px;
  padding-left: 15px;
  height: 30%;
  width: 100%;
  text-align: left;
  /*background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%);*/
  transition: all ease-in-out 1s;
  background-color: rgba(0, 0, 0, 0.5);

}

.headDesc a {
  cursor: pointer;
  color: blue;
  text-decoration: none;
  font-weight: 500;
}

.desc {
  padding-right: 1rem;
  font-size: large;
}

.desc a {
  display: block;
  padding: 1rem 0;
}

/* .Card:hover {
  .headDesc {
    position: absolute;
    bottom: 0%;
    transition: all ease-in-out 0.3s;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid white;
  }

  background-color: rgb(246, 247, 243);



  .before-element img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
} */

.card-container:hover {

  .Card {
    transform: rotateY(180deg);
  }

  .headDesc {
    position: absolute;
    bottom: 0%;
    height: 100%;
    border: 4px solid red;
    transform: rotateY(180deg);

  }

}

.desc button {
  margin-top: 1rem;
  margin-left: .5rem;
}


@keyframes imageUp {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: 0;
  }
}

@media screen and (max-width: 920px) {
  .Card {
    width: 306px;
    height: 201px;
  }

  .desc button {
    margin-top: 0rem;
  }
}

.card-container {
  width: 320px;
  height: 215px;
}

.Card {
  background-color: rgb(222, 100, 100);
  font-family: designer;
  width: 318px;
  height: 213px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  isolation: isolate;
  clip-path: polygon(50% 0%, 100% 0, 100% 74%, 78% 100%, 0 100%, 0% 60%, 0 0);
  color: white;
  margin-bottom: 2rem;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 1s ease;
  cursor: pointer;

}

.before-element {
  inset: 2px;
  position: absolute;
  z-index: -1;
  clip-path: polygon(50% 0%, 100% 0, 100% 74%, 78% 100%, 0 100%, 0% 60%, 0 0);
}

.before-element img {
  width: 317px;
  height: 213px;
  transition: all ease-in-out 1s;

}

.headDesc h1 {
  font-size: 22px;
  font-weight: 100;
  line-height: 28.46px;
  letter-spacing: 0;
  padding: 1rem 0 1rem 0;

}

.headDesc {
  position: absolute;
  bottom: 1px;
  padding-left: 15px;
  height: 30%;
  width: 100%;
  text-align: left;
  /*background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%);*/
  transition: all ease-in-out 1s;
  background-color: rgba(0, 0, 0, 0.5);

}

.headDesc a {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

.desc {
  padding-right: 1rem;
  font-size: 18px;
  font-family: bankGothlic;
  font-weight: bolder;
}

.desc a {
  display: block;
  padding: 1rem 0;
  font-family: mortend;
}

/* .Card:hover {
  .headDesc {
    position: absolute;
    bottom: 0%;
    transition: all ease-in-out 0.3s;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid white;
  }

  background-color: rgb(246, 247, 243);



  .before-element img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
} */

.card-container:hover {

  .Card {
    transform: rotateY(180deg);
  }

  .headDesc {
    position: absolute;
    bottom: 0%;
    height: 100%;
    border: 4px solid red;
    transform: rotateY(180deg);

  }

}

.desc button {
  margin: 1rem;
}

/*Bottom Image */

.bottom-container {
  position: absolute;
  bottom: 0;
  left: 0px;
  animation-name: imageUp;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.text-bar {
  position: absolute;
  width: 385px;
  height: 200px;
  bottom: 50px;
  left: 237px;
  clip-path: polygon(46% 35%,
      61% 35%,
      100% 35%,
      100% 61%,
      23% 61%,
      3% 75%,
      11% 61%,
      0 60%,
      0 35%,
      39% 35%);
  background: rgba(217, 217, 217, 0.2);
  color: black;
  animation-name: imageUp;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  overflow: hidden;
}

.text {
  position: absolute;
  font-size: 19px;
  text-align: center;
  width: 100%;
  padding-left: 15px;
  bottom: 75px;
  color: white;
}

@keyframes imageUp {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: 0;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}

/*Responsive ness*/
@media (max-width: 650px) {
  .Card {
    margin: 1rem auto;
  }

  .headDesc h1 {
    font-size: 22px;
  }

  body {
    overflow-y: scroll;
  }

  .desc a {
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 920px) {
  .Card {
    width: 306px;
    height: 201px;
  }

  .desc button {
    margin-left: 0.5rem;
  }
}





HTML CSSResult Skip Results Iframe EDIT ON:root {
  --card-height: 00px;
  --card-width: calc(var(--card-height) / 1.5);
}



.card2 {
  background: url("../../images/card2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding: 0 36px; */
  perspective: 2500px;
  /* margin: 0 50px; */
}

.card:nth-child(1) {
  background: url("../../images/card1bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding: 0 36px; */
  perspective: 2500px;
  /* margin: 0 50px; */
}





.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper,
.card2:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.card .title,
.card2 .title {
  /* mix-blend-mode: multiply; */
  background-color: rgba(0, 0, 0, 0.605);
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.card:hover .wrapper::before,
.card2:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after,
.card2:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 0.5s;
}

.card:hover .title,
.card2:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character,
.card2:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}