body {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.gallery_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    top: -2rem;
}

.gallery_wrapper h1 {
    font-size: 26px;
    font-family: aroma;
    text-decoration: underline;
    text-decoration-color: orangered;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media screen and (max-width:650px) {
    .imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}