@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Inknut+Antiqua&family=Roboto:wght@400;700&display=swap");
@import url("https://www.freepik.com/font/mokoto");

* {
  padding: 0;
  margin: 0;
  /* cursor: url("../images/handCursor.png"), auto; */
  /* cursor: none; */
}

body {
  width: 100%;
  height: 100%;
  cursor: url("../images/handCursor.png"), auto;
  /* background-color: black; */
  /* z-index: 200; */
  
  /* cursor: none; */

}

@font-face {
  font-family: bankGothlic;
  src: url(../../public/BankGothic\ Regular.ttf);
}

@font-face {
  font-family: designer;
  src: url(../../public/Designer.otf);
}

@font-face {
  font-family: mokoto;
  src: url(../../public/Mokoto\ Demo.ttf);
}

@font-face {
  font-family: mortend;
  src: url(../../public/Mortend\ Bold.ttf);
}


@font-face {
  font-family: shapeSpace;
  src: url(../../public/Square\ Space.ttf);
}

@font-face {
  font-family: minimulist;
  src: url(../../public/Minimalust\ Small\ Cap.ttf);
}

@font-face {
  font-family: aroma;
  src: url(../../public/AROMA-Bold.ttf);
}

:root {
  --ft-car: "Carrois Gothic SC", sans-serif;
  --ft-ink: "Inknut Antiqua", serif;
  --ft-robo: "Roboto", sans-serif;

}

body {
  background: url("../images/bodyBg.png");
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgb(0, 0, 5);
  /* cursor: none; */
}

.body-container{
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 500;
}

.cursor {
  width: 50px;
  height: 50px;
  background: url("../images/Handcursor.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: transparent; */
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}




/* body::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background: url("../images/tempBg.jpg");
  opacity: 0.5;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
} */



.center-width {
  max-width: min(72rem, 96%);
  margin: 0 auto;
}