@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Rajdhani:wght@300;400;500;600;700&display=swap');


body {
  overflow: hidden;
}

.startPage {
  width: 100%;
  height: 100%;
  background-color: black;
  /* background: url("../images/starterBg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.welcomeTag {
  position: relative;
  top: 10rem;
  font-size: 44px;
  font-family: mokoto;
  letter-spacing: 5px;
  padding: 1rem;
  overflow: hidden;
}

.yearTag {
  position: relative;
  bottom: 20rem;
  font-size: 64px;
  font-family: mokoto;
  letter-spacing: 5px;
  text-align: center;
  overflow: hidden;
}

.logo {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: calc(50% - 4rem);
  left: calc(50% - 5rem);
  z-index: 0;
}


.startTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 2;
  position: relative;
  top: -2.5rem;
}

.startTitle span {
  z-index: 2;
}

.startTitle {
  width: 100%;
  height: 100%;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  font-family: mokoto;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: animated-text 4s 1s normal ease-in-out both;
  /* opacity: 0.8; */
}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}


main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%);
  overflow: hidden;
  z-index: 10;
}

.clgLogo img {
  width: 7rem;
  height: 7rem;
  position: absolute;
}

.clgLogo img:nth-child(1) {
  left: 1rem;
  top: 1rem;
}

.clgLogo img:nth-child(2) {
  right: 1rem;
  top: 1rem;
}

.clgName {
  display: flex;
  position: relative;
  top: 2rem;
  letter-spacing: 0.25rem;
  justify-content: space-between;
  font-size: 28px;
  font-family: bankGothlic;
}

.clgName p:nth-child(1) {
  padding-bottom: 1rem;
  font-family: mokoto;

}

main {
  position: absolute;
  padding-top: 3rem;
}

.main-character {
  position: absolute;
  /* top: 0; */
  bottom: -120px;
  left: 40px;
  width: 520px;
  z-index: -1;
}

.main_bottom {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%); */
}

.main_bottom p {
  font-family: aroma;
  font-size: 32px;
  font-weight: 400;
  /* line-height: 83px; */
  letter-spacing: 0em;
  text-align: center;
  /* margin-left: 2rem; */
  position: relative;
  left: 2rem;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%); */
  padding: 2rem;
  -webkit-text-stroke: 2px rgb(181, 168, 168);
  color: transparent;
}

.main_title {
  font-family: mokoto;
  /* font-family: "Rajdhani", sans-serif; */
  font-size: 110px;
  /* font-weight: semi-bold; */
  line-height: 248px;
  letter-spacing: 0.5rem;
  text-align: left;
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.main_title {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-left: 50px;
}

.RobohawkRepresentation {
  position: absolute;
  top: 23%;
  left: 25%;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.representedBy {
  position: relative;
  top: 5.6rem;
  left: -1rem;

}

.representedBy h2 {
  font-size: 14px;
  font-family: mokoto;
  letter-spacing: 3px;
}

.representedBy h1 {
  -webkit-text-stroke: 1px rgb(31, 212, 244);
  font-size: 24px;
  font-family: designer;
  color: transparent;
}



main img {
  width: 100%;
  margin-bottom: 12rem;
  position: relative;
  left: -4rem;
  /* margin-left: 4rem; */
}

.start_btn {
  transform: translate(-10%, 0%);
  margin-bottom: .5rem;
}

.nav_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.drone img {
  width: 10rem;
  height: 10rem;
  animation: drone 4s ease-in-out forwards;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.bottomImg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.bottomImg img {
  width: 200px;
  /* height: 100px; */
}

@keyframes drone {
  10% {
    position: absolute;
    bottom: 10%;
    right: 1%;
    transform: rotate(-15deg);
  }

  25% {
    position: absolute;
    bottom: 25%;
    right: 1%;
    transform: rotate(0deg);
  }

  40% {
    position: absolute;
    bottom: 50%;
    right: 1%;
    transform: rotate(-45deg);
  }

  60% {
    position: absolute;
    bottom: 50%;
    right: 10%;
  }

  90% {
    position: absolute;
    bottom: 65%;
    right: 13%;
  }

  100% {
    position: absolute;
    bottom: 60%;
    right: 13.9%;
    transform: rotateZ(-30deg);
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
  }


  .startTitle {
    font-size: 38px;

  }

  .clgLogo img {
    width: 3rem;
    height: 3rem;
    position: absolute;
  }

  .clgLogo img:nth-child(1) {
    left: 3rem;
    top: 6rem;
  }

  .clgLogo img:nth-child(2) {
    right: 3rem;
    top: 6rem;
  }

  .clgName p {
    font-size: 16px;
    margin: 1px;
  }

  .main_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;

  }

  .main_title {
    font-size: 40px;
    top: 15%;
    gap: 0rem;
    margin-left: 0px;
  }

  .main_bottom {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0rem;
  }

  #string {
    display: none;
  }

  .main_bottom p {
    font-size: 20px;
    position: relative;
    bottom: 10rem;
  }

  .representedBy {
    top: -35%;
    left: 75%;
  }


  main img {
    width: 100vw;
    /* margin-bottom: 10rem; */
    position: relative;
    top: -15rem;
    display: none;
    /* left: 0rem;
    top: -1rem; */
  }

  .drone img {
    width: 7rem;
    height: 7rem;
  }

  .start_btn {
    transform: translate(0%, 0%);
    /* margin-bottom: 7rem; */
    position: relative;
    bottom: 10rem;
  }

  .nav_wrapper {
    position: static;
    width: auto;
    height: auto;
  }

  body {
    overflow: hidden;
  }

  .prizePool {
    display: none;
  }


}

@media screen and (max-width:380px) {
  .start_btn {
    margin-bottom: 2rem;
  }

  .clgName p {
    font-size: 10px;
  }

  .main_title {
    font-size: 34px;
  }

  .main img {
    position: relative;
    top: -2rem;
  }

  .main_bottom p {
    font-size: 12px;
  }

  .prizePool {
    display: none;
  }
}

@media only screen and (min-width:501px) and (max-width: 950px) {
  .startTitle {
    font-size: 72px;
  }

  .start_btn {
    margin-bottom: 6rem;
  }

  .clgLogo img:nth-child(1) {
    left: 1rem;
    top: 4rem;
    width: 75px;
    height: 75px;
  }

  .clgLogo img:nth-child(2) {
    right: 1rem;
    top: 4rem;
    width: 75px;
    height: 75px;
  }

  .clgName {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 20px;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
  }

  .main_title {
    font-size: 4rem;
    text-align: center;
    gap: 10rem;
    position: absolute;
    left: 24rem;
    top: 9rem;
    /* margin-top: 2rem; */
  }

  #string {
    position: absolute;
    top: -5rem;
    left: -2rem;
    /* width: 40px; */
  }

  .representedBy {
    position: relative;
    top: 2rem;
    /* right: 7rem; */
  }

  .main_bottom {
    position: absolute;
    bottom: -8rem;
  }

  .main_bottom p {
    font-size: 26px;
  }

  main img {
    margin-bottom: 13rem;
    width: 45vw;
    position: relative;
    left: -3.5rem;
  }

  .prizePool {
    display: none;
  }

}

@media screen and (min-width:951px) and (max-width:1200px) {
  .clgName p {
    font-size: 22px;
    position: relative;
    top: 2%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .clgLogo img {
    width: 75px;
    height: 75px;
    margin-top: 2rem;
  }

  .startTitle {
    font-size: 84px;
  }

  main img {
    margin-bottom: 12rem;
    width: 45vw;
  }

  .main_title {
    font-size: 5rem;
    gap: 10rem;
    /* margin-top: 5.5rem; */
  }

  .representedBy {
    position: absolute;
    top: 7rem;
    left: 12rem;
  }

  .main_bottom p {
    font-size: 24px;
  }

  .main_bottom {
    height: 27%;
  }


}