.startPage {
    width: 205vh;
    height: 205vh;
    background-color: black;
    z-index: 99;
    background-size: cover;
    display: grid;
    place-items: center;
    overflow: hidden;

}

.logo {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: calc(50vw - 5rem);
    top: calc(50vh - 5rem);
}

.title {
    width: 100vw;
    height: 100vh;
    font-size: 120px;
    text-align: center;
    position: relative;
    top: -7%;
    font-weight: bold;
    font-family: var(--ft-ink);
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: animated-text 4s 1s normal ease-in-out both
}

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}