.contact_wrapper {
    display: grid;
    grid-template-rows: repeat(1fr, 5);
    place-items: center;
    font-size: 28px;
    gap: 0.5rem;
    padding: 10px;
    border: 2px solid orangered;
    border-radius: 20px;
    font-family: bankGothlic;
    font-weight: 500;
    width: 70%;
    margin-top: 3rem;
    position: relative;
    left: 15%;
    /* backdrop-filter: blur(0px) saturate(150%);
    -webkit-backdrop-filter: blur(0px) saturate(150%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transform: scale(1);
    padding: .5rem;
    box-shadow: 2px 2px 25px rgb(0, 255, 255);*/
}

.input_wrapper > div {
    width: 100%;
}

input,
textarea {
    border-radius: 20px;
    background: white;
    padding-left: 1rem;
    color: black;
    font-family: var(--ft-ink);
    font-size: 18px;
    width: 100%;
}

.contact_wrapper p {
    font-size: 22px;
}

.emaiPhn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.emaiPhn input {
    width: 100%;
}

.query textarea {
    width: 100%;
    word-wrap: break-word;
}

.submitBtn {
    display: grid;
    place-items: center;

}

.submitBtn button {
    border: 2px solid rgb(210, 136, 31);
    padding: 13px;
    border-radius: 20px;
    padding: 0 30px 0 30px;
    background-color: rgb(12, 12, 12);
    font-size: 22px;
    margin-top: 1rem;
    width: auto;
    height: 3rem;
    margin-bottom: 1rem;
    transition: all ease-in-out .5s;
}

.submitBtn button:focus,
.submitBtn button:hover {
    background-color: rgb(165, 80, 35);
    border: 2px solid black;
}

.thankContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.812);
    display: grid;
    place-items: center;
}

.innerBox {
    width: 50%;
    height: 40%;
    background-color: black;
    z-index: 999;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    border: 3px solid rgb(0, 255, 255);
}

.Thankingtext {
    font-size: 26px;
    font-family: bankGothlic;
    text-align: center;
}





.socialMedia > a:hover {
    color: aquamarine;
}

.contactTable tr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
}

.contactTable th {
    font-size: 22px;
    color: rgb(0, 255, 255);
    padding: .25rem;
    text-align: center;
}

.contactTable td {
    font-size: 18px;
}

@media screen and (max-width:620px) {
    .emaiPhn {
        display: flex;
        flex-direction: column;
    }

    .contact_wrapper {
        width: 90%;
        left: 5%;
        margin-bottom: 1rem;
    }

    .innerBox {
        width: 80vw;
        height: 50vw;
    }

    .Thankingtext {
        font-size: 22px;
    }

}