.team_wrapper {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
}

.team_wrapper p {
    text-align: center;
    font-size: 24px;
    color: gold;
}

h3 {
    font-size: 26px;
    text-decoration: underline;
}