.sponsor_wrapper {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    text-align: center;
    place-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.sponsor_wrapper h3 {
    font-size: 26px;
    font-family: bankGothlic;
}

.sponsor_wrapper img {
    width: auto;
    height: 6rem;
    border-radius: 10px;
}

.dronePartner img {
    width: auto;
    height: 6rem;
    background-color: rgb(161, 214, 249);
    padding: 20px;
}

.sponsor_row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.sponsor_row img {
    border-radius: 10px;
}

.sponsor_row img:nth-child(1) {
    background-color: black;
}

.sponsor_row img:nth-child(2) {
    width: 10rem;
    background-color: white;
}

.sponsor_row img:nth-child(3) {
    width: 10rem;
    background-color: white;
}

.Imgcontent {
    display: flex;
    /* Aligns images in a row */
    justify-content: space-around;
    /* Distributes space evenly between images */
    align-items: center;
    /* Vertically centers images within the div */
    flex-wrap: wrap;
    /* Allows images to wrap to the next line if the screen is too narrow */
    padding: 20px;
    /* Adds padding around the images */
    background-color: transparent;
    gap: 1rem;
}

img {
    max-width: 100%;
    /* Ensures images are responsive */
    height: auto;
    /* Maintains aspect ratio of the images */
    margin: 10px;
    /* Adds space around each image */
    border-radius: 10px;
    /* Rounds the corners of the images */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Adds a subtle shadow around the images */
}

img:hover {
    transform: scale(1.1);
    /* Slightly enlarges the image on hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    /* Enhances the shadow on hover */
}