.faq_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 5rem;
    text-align: left;
}

.faq_wrapper h1 {
    font-size: 28px;
    font-family: bankGothlic;
    color: aqua;
    text-align: center;
    margin-bottom: 1.5rem;
}

.faq-item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: left;
}

.question {
    background-color: rgba(0, 0, 0, 0.432);
    padding: .5rem;
    border-radius: 12px;
    cursor: pointer;
    text-align: left;
}

.questionNanswer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all ease-in-out .5s;
    text-align: left;


}

.answer {
    background-color: rgba(0, 0, 0, 0.266);
    padding: .5rem;
    border-radius: 12px;
    padding: 0;
    transition: all ease-in-out .5s;

}

.answerViewed {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: .5rem;
}

@media screen and (max-width:650px) {
    .faq_wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        position: relative;
        left: 5%;
        top: -5rem;
    }

    .question,
    .answer {
        font-size: 16px;
    }
}