body {
  overflow: hidden;
}

.title {
  font-family: mortend;
  font-weight: 0;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.015em;
  text-align: left;
  border-bottom: 5px solid rgb(165, 204, 218);
  width: 80%;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
}

.clan_text {
  font-family: bankGothlic;
  font-size: 22px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(233, 238, 241, 0.904);
}

.social_media {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: rgb(192, 244, 253);
}

.social_media img {
  margin: 0.5rem;

}

.sittingRobo {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: -2rem;
  left: calc(50% - 0rem);
  display: none;
}

.clan {
  padding: 0.5rem;
  backdrop-filter: blur(0px) saturate(150%);
  -webkit-backdrop-filter: blur(0px) saturate(150%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem;
  position: relative;
  top: -3rem;
  margin: .5rem;
  background-image: url(./icons/Clanbg.png);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px 10px orangered;
  /* background-size: cover; */
}

.crausolContainer {
  width: 100%;
  height: 50vh;
}


@media only screen and (max-width:700px) {
  body {
    /* overflow: hidden; */
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .clan {
    position: absolute;
    top: 5rem;
  }

  .clan_text {
    line-height: 32px;
    font-size: auto;
  }

  .sittingRobo {
    width: 7rem;
    height: 7rem;
    top: -5rem;
  }

}