 .Team_Member {
   margin: 0 auto;
   align-items: center;
   display: flex;
   flex-direction: column;
   align-content: center;
   backdrop-filter: blur(0px) saturate(128%);
   -webkit-backdrop-filter: blur(0px) saturate(128%);
   background-color: rgba(17, 25, 40, 0.37);
   border: 1px solid rgba(255, 255, 255, 0.125);
   border-radius: 10px;
 }

 .Team_Member img {
   width: 240px;
   height: 320px;
   object-fit: cover;
   border-radius: 10px;
 }


 .Team_Member:hover {
   animation: glow 1s infinite alternate;
 }

 @keyframes glow {
   from {
     box-shadow: 0 0 10px rgba(0, 224, 255, 1);
   }

   to {
     box-shadow: 0 0 20px 10px rgba(0, 224, 255, 1);
   }
 }

 @media screen and (min-width:651px) and (max-width:950px) {
   .Team_Member {
     width: 200px;
     height: 290px;
   }
 }

 @media screen and (max-width:650px) {
   .Team_Member {
     width: 150px;
     height: 190px;
   }
 }