.Team_Member {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  backdrop-filter: blur(0px) saturate(128%);
  -webkit-backdrop-filter: blur(0px) saturate(128%);
  background-color: rgba(17, 25, 40, 0.37);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 5px;
}

.Team_Member img {
  width: 120px;
  height: 140px;
  max-width: 201px;
  max-height: 201px;
  object-fit: cover;
  border-radius: 10px;
}


.Team_Member:hover {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(0, 224, 255, 1);
  }

  to {
    box-shadow: 0 0 20px 10px rgba(0, 224, 255, 1);
  }
}