.Team_Member {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  backdrop-filter: blur(0px) saturate(128%);
  -webkit-backdrop-filter: blur(0px) saturate(128%);
  background-color: rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  overflow: hidden;
}

.Team_Member img {
  width: 240px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}


.Team_Member:hover {
  animation: glow 1s infinite alternate;
}

.Team_Member img:hover {
  animation: glow 1s infinite alternate;
}

.contactInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.873);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: left;
  padding-left: 2rem;
  font-size: 20px;
  font-family: bankGothlic;
  top: 20rem;
  color: rgba(0, 224, 255, 1);
}

.email a,
.linkedIn a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}

.Team_Member:hover .contactInfo {
  animation: dropUp 1s ease-in-out forwards;
}

@keyframes dropUp {
  from {
    position: absolute;
    top: 20rem;
    transform: rotateY(180deg);
  }

  to {
    position: absolute;
    top: 0rem;
    transform: rotateY(0deg);
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(0, 224, 255, 1);
  }

  to {
    box-shadow: 0 0 20px 10px rgba(0, 224, 255, 1);
  }
}

@media screen and (min-width:651px) and (max-width:950px) {
  .Team_Member {
    width: 200px;
    height: 290px;
  }
}

@media screen and (max-width:650px) {
  .Team_Member {
    width: 150px;
    height: 220px;
  }

  .contactInfo {
    font-size: 14px;
  }
}