body {
  overflow-x: hidden;
}

nav {
  padding: .75rem 3rem;
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  /* background: rgba(17, 16, 16, 0.447); */
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  flex-direction: column;
  /* margin-top: 200px; */

  /* overflow-y: scroll; */

}

nav ::-webkit-scrollbar {
  display: none;
}

.Nav {
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav p {
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(91, 87, 87), #fff);
  /* -webkit-background-clip: "text"; */
  background-clip: border-box;
  -webkit-background-clip: text;

  margin-top: -0.5rem;
  /* -webkit-text-stroke: 2px black; */
  color: transparent;

}

.NavCard {
  width: 12.5rem;
}

/* nav img {
  padding-left: 20px;
  margin-left: 150%; 
  align-items: center;  
} */

.HamMenuIcon {
  /* border: 2px solid white; */
  padding: 4px;
  font-size: 42px;
  margin-right: 1rem;
}

.desktop-links {
  z-index: 99;
  top: 0px;
  /* left: -110%; */
  position: absolute;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 42, 42, 0.923);
  padding: 3rem;

}

.link-shelf {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
  align-items: center;
  justify-content: center;
  gap: 3rem;

}

.desktop-links li {
  width: 12.5rem;
  height: 10rem;
}

#logo {
  /* width: rem */
  height: 2.25rem;
}



#smallLogo {
  display: inline;
  width: 2.5rem;
  height: 2.5rem;
}



@media screen and (max-width: 960px) {
  nav {
    width: 150%;
  }

  body {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .desktop-links {
    width: 150%;
  }

  .link-shelf {
    grid-template-columns: repeat(2, minmax(0, 1fr));

  }
}

@media only screen and (max-width: 620px) {
  nav {
    /* padding: .25rem; */
    width: 100vw;
  }

  body {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }


  #smallLogo {

    display: none;
  }

  nav p {
    font-size: 14px;
  }




  #logo {
    width: 175px;
  }

  .desktop-links {
    overflow-y: hidden;
  }

  .link-shelf {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow-y: scroll;
    position: absolute;
    top: 5rem;
    left: -1rem;
    width: 100vw;
    height: 130vh;
  }

  .HamMenuIcon {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width:950px) {
  nav {
    /* padding: .25rem; */
    width: 100vw;
  }

  body {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }



  nav p {
    font-size: 14px;
  }

  #logo {
    width: 175px;
  }

  .desktop-links {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 100vw;
    height: 130vh;
  }

  .HamMenuIcon {
    margin-right: 1rem;
  }
}