nav {
  padding: .75rem 3rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  /* background: rgba(17, 16, 16, 0.447); */
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  flex-direction: column;
}

.Nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav p {
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(91, 87, 87), #fff);
  /* -webkit-background-clip: "text"; */
  -webkit-background-clip: text;

  margin-top: -0.5rem;
  /* -webkit-text-stroke: 2px black; */
  color: transparent;

}

.NavCard {
  width: 12.5rem;
}

/* nav img {
  padding-left: 20px;
  margin-left: 150%; 
  align-items: center;  
} */


.desktop-links {
  z-index: 99;
  top: -10px;
  left: -110%;
  position: absolute;
  color: white;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 5rem;
  background-color: rgba(44, 42, 42, 0.923);
  padding: 3rem;
}

.desktop-links li {
  width: 12.5rem;
  height: 10rem;
}




#logo {
  /* width: rem */
  height: 2.25rem;
}



#smallLogo {
  display: inline;
  width: 2.5rem;
  height: 2.5rem;
}



@media screen and (max-width: 960px) {
  /* nav img {
    width: 220px;
  } */

  .desktop-links {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  nav {
    padding: .25rem;
  }



  #smallLogo {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    display: block;
    width: 3rem;
    height: 3rem;
    padding: 0;
  }










  .desktop-links {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }


}