.animatedDiv img {
    animation: drone 4s ease-in-out;
    z-index: -1;
    top: 15rem;
}

@keyframes drone {
    0% {
        position: relative;
        top: 50rem;
        right: 1rem;
        transform: rotate(15deg);
    }

    25% {
        position: relative;
        top: 40rem;
        right: 1rem;
        transform: rotate(0deg);

    }

    50% {
        position: relative;
        top: 30rem;
        right: 1rem;
        transform: rotate(-15deg);

    }

    75% {
        position: relative;
        top: 20rem;
        right: 1rem;
        transform: rotate(15deg);

    }

    100% {
        position: relative;
        top: 10rem;
        right: 1rem;
        transform: rotate(0deg);

    }
}

@media screen and (max-width:620px) {
    .animatedDiv img {
        position: absolute;
        top: 7rem;
        z-index: -1;
        animation: none;
    }
}

@media screen and (max-width:950px) {
    .animatedDiv img {
        animation: none;
        top: 7rem;
    }
}