.camWarrior {
    background-image: url("../../../images/event2bg.jpg");
    background-size: cover;
}

.animatedDiv img {
    animation: drone 3s ease-in-out forwards;
    z-index: -1;
    top: 15rem;
}

@keyframes drone {
    0% {
        position: relative;
        top: 45rem;
        right: 1rem;
        transform: rotate(15deg);
    }

    25% {
        position: relative;
        top: 30rem;
        right: 1rem;
        transform: rotate(0deg);

    }

    50% {
        position: relative;
        top: 17rem;
        right: 1rem;
        transform: rotate(-15deg);

    }

    75% {
        position: relative;
        top: 10rem;
        right: 1rem;
        transform: rotate(15deg);

    }

    100% {
        position: relative;
        top: 5rem;
        right: 1rem;
        transform: rotate(0deg);

    }
}

@media screen and (max-width:620px) {
    .animatedDiv img {
        position: absolute;
        top: 7rem;
        z-index: -1;
    }
}

@media screen and (max-width:950px) {
    .animatedDiv img {
        animation: none;
        top: 7rem;
    }
}